$primary: #cc5333
$text: #433f4a
$pr_hover: lighten($primary, 10%)
$secondary: #23074d
$sec_hover: lighten($secondary, 10%)
$white: #faf9fa

$breakpoints: ("phone": 400px, "phone-wide": 480px, "phablet": 560px, "tablet-small": 640px, "tablet": 769px, "tablet-wide": 1024px, "desktop": 1280px, "desktop-wide": 1440px, "desktop-max": 1900px,)

=mq($width, $type: min)
  @if map_has_key($breakpoints, $width)
    $width: map_get($breakpoints, $width)
    @if $type == max
      $width: $width - 1px
    @media only screen and (#{$type}-width: $width)
      @content

=custom-scroll($class, $firefox: true)  
  .#{$class}::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3)
    background-color: #F5F5F5
    border-radius: 6px
  .#{$class}::-webkit-scrollbar
    width: 6px
    border-radius: 6px
    background-color: #F5F5F5
  .#{$class}::-webkit-scrollbar-thumb
    background-color: $primary
    border-radius: 6px
  @if $firefox
    .#{$class}
      scrollbar-width: thin
      scrollbar-color: $primary #F5F5F5

@font-face
  font-family: 'chat'
  font-style: normal
  font-weight: 400
  src: local('chat'), local('Chat-font'), url(../assets/Chat-font.woff2) format('woff2') 
  

///// GLOBAL STYLES  
  
\:global 
  *
    box-sizing: border-box
  textarea::-webkit-input-placeholder 
    color: lighten($text, 45%)
  textarea::-moz-placeholder
    color: lighten($text, 45%)
  textarea:-ms-input-placeholder 
    color: lighten($text, 45%)
  textarea::placeholder 
    color: lighten($text, 45%)
  a 
    text-decoration: none 
    color: inherit
  button 
    font-family: 'chat'
    background: none
    border: none
    cursor: pointer  
    color: inherit
  button:focus
    outline: none    
  h2, h3, h4, h5 
    text-align: center    
  html
    margin: 0
    padding: 0
    font-size: 10px
    height: 100%    
    background: linear-gradient(to right, #F3F9A7, #CAC531) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
  body 
    margin: 0
    height: 100% 
    font-size: 1.6rem
    font-family: 'chat'
  #root
    height: 100%      


/////////////// MAIN STYLES  
.container
  height: 100%
  >div 
    height: 100vh
    display: flex    
    flex-direction: column
    justify-content: center
    align-items: center
    +mq(phone-wide, max)        
      height: 100%
      justify-content: flex-start
h2, h3, h4
  padding: 0 1rem 
  text-transform: uppercase
  transform: skew(0, -3deg) 
  color: #fefefe      
  background: linear-gradient(#cc5333, #23074d) 
h2,h3
  font-size: 6rem
h3, h4
  color: $secondary
  background: linear-gradient(#F3F9A7, #CAC531)
  margin-bottom: 3rem 
  +mq(phone-wide, max)        
    margin: 0 auto
    width: 50%
    transform: none
h2 
  margin: 2rem 0 3rem 0  
  +mq(phone-wide, max)        
    display: none
/////////////// BUTTONS  
.chatButton 
  font-family: "chat"
  padding: 0.4rem 1.8rem
  display: flex
  justify-content: center
  align-items: center   
  font-size: 1.4rem
  line-height: 2rem
  outline: none   
  text-decoration: none
  user-select: none
  cursor: pointer
  white-space: nowrap
  background: $primary
  color: #fff
  border: 1px solid transparent
  border-radius: 4px
.chatButton:hover 
  background: $pr_hover
.loginButton, .addRoomButton   
  composes: chatButton  
  min-width: 75px
  height: 30px
  background: $secondary
  >div 
    display: flex
.loginButton
  margin-top: 1rem
  margin-bottom: 1rem
.loginButton:hover, .addRoomButton:hover
  background: $sec_hover
.cancelButton
  composes: chatButton
  background: transparent 
  border: none
  color: $secondary        
.cancelButton:hover
  background: transparent     
.hidden
  visibility: hidden



////////// LOGIN STYLES
.loginWrapper  
  position: relative
  border-radius: 5px
  padding-bottom: 2rem 
  width: calc(100vw - 50%)
  min-height: calc(100vh - 280px)
  display: flex
  flex-direction: column 
  align-items: center  
  min-width: 500px 
  background-color: $primary
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
  +mq(phone-wide, max) 
    width: 100%       
    height: 100%
    min-height: 400px
    min-width: auto
    border-radius: 0px
  h4     
    margin: 5rem
    +mq(phone-wide, max) 
      width: auto     
.loginErrorWrapper
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  top: -30px
  left: 0
  width: 100%
  min-width: 500px
  height: 30px
  background-color: #fbcfcf
  color: #a53232
  font-weight: bold
  font-size: 1.4rem
  border-radius: 5px
  +mq(phone-wide, max) 
    min-width: auto
    top: 10px   
form 
  display: flex 
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 1rem
  +mq(phone-wide, max) 
    padding-bottom: 0px 
  .formField
    display: flex
    align-items: center
    position: relative      
    width: 220px
    margin-bottom: 2rem
    span 
      position: absolute
      left: 8px
      margin-top: 2px    
    input
      border: 2px solid $primary
      width: 100%
      padding: 1rem
      padding-left: 2.5rem
      background: $white
      border-radius: 8px
      font-family: "chat"
      font-weight: bold
      transition: box-shadow .1s ease-in,border .1s ease-in
    input:focus 
      border: 2px solid $secondary
      box-shadow: 0 0 6px -2px $primary
      outline: none
    .forgotPassword
      color: $white
      font-weight: bold
      font-size: 1.2rem
      position: absolute
      bottom: -20px
      right: 5px
      text-align: right
    .forgotPassword:hover
      text-decoration: underline 
  .formField.error
    input
      border: 2px solid #a53232        
      background: #fbcfcf       
    input:focus 
      border: 2px solid #a53232
      background: #fbcfcf
      outline: none
    .forgotPassword      
      color: $white       
    ::placeholder, span
      color: #a53232      
.formErrorWrapper   
  margin-top: 2rem
  padding: 0 1rem
  background: #fbcfcf
  border: 2px solid #a53232
  border-radius: 5px
  font-size: 1.4rem
  color: #ab5656
  +mq(phone-wide, max)
    margin: 2rem 0
  ul 
    padding-left: 2rem
.sighupMessage
  padding: 1rem
  background: $white
  border: 1px solid $secondary
  border-radius: 5px
  font-size: 1.2rem
  color: $text
  a 
    font-weight: bold
  a:hover 
    text-decoration: underline 



///////////////// CHAT STYLES    
.chatWrapper  
  position: relative
  display: grid
  grid-template-columns: auto 1fr
  align-items: center
  justify-content: center
  border-radius: 5px
  width: calc(100vw - 20%)
  min-width: 500px 
  background-color: $white
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) 
  +mq(tablet, max)
    width: 100%
    border-radius: 0
  +mq(phone-wide, max)
    width: 100%
    min-width: auto
    grid-template-columns: 100%
    grid-template-rows: auto 1fr
    flex-grow: 1
  >div:last-child
    height: 100%  
.currentRoom
  align-self: flex-start
  justify-self: center
  font-size: 1.4rem
  background: lighten($primary, 25%)   
  padding: 0 0.5rem
  +mq(phone-wide, max)
    grid-row: 2
    justify-self: auto
    text-align: center
    border-bottom: 1px solid $primary 
.chatContent
  position: relative
  height: 100%
  >div
    height: calc(100vh - 150px)
    padding: 1rem 0 0 1rem
    display: grid
    grid-template-columns: 1fr auto
    grid-template-rows: 30px 1fr 
    justify-content: space-between
    +mq(tablet, max)
      height: 84vh
    +mq(phone-wide, max)
      grid-template-columns: 1fr
      grid-template-rows: auto auto 1fr auto
      align-content: flex-start
      padding: 1rem
      height: 100%
.chatList
  margin-bottom: 1rem
  display: flex
  grid-row: 2
  min-height: 0px
  padding-left: 1rem 
  flex-direction: column
  overflow-y: scroll
  overflow-x: hidden
  +mq(phone-wide, max)
    grid-row: 3
    max-height: 200px
+custom-scroll("chatList")
.chatLineMessage   
  padding: 0 0.5rem
  word-wrap: break-word
  vertical-align: baseline
  .timeStamp
    margin-right: 0.5rem
    text-decoration: underline
    color: #bbbbbb
    font-size: 1.4rem   
  .userName
    font-size: 1.6rem
    font-weight: bold
    color: $secondary    
  .message
    font-size: 1.6rem
  .systemMessage
    text-align: center
    background: #e9e9e9
    width: 100%
    display: inline-block
    margin: 0.5rem 0
    font-size: 1.4rem
.fileMessage
  composes: chatButton
  display: inline
  padding: 0 1.8rem
  margin-bottom: 0.5rem
  background: $secondary
.fileMessage:hover  
  background: $sec_hover   
.chatUsers
  width: 115px
  font-size: 1.4rem
  display: flex
  grid-row: span 2 / 3
  flex-direction: column
  align-items: center
  +mq(phone-wide, max)
    grid-row: 1
    width: 100%
    justify-self: auto
    text-align: center
    border-bottom: 1px solid $primary 
  .chatUsersHeader
    background: lighten($primary, 25%) 
    width: 85%
    text-align: center
    margin-bottom: 1rem
    +mq(phone-wide, max)        
      border-bottom: 1px solid $primary
      width: 100%
      margin-bottom: 0 
  ul    
    list-style: none
    padding: 0 0.5rem
    margin: 0
    width: 100%
    +mq(phone-wide, max)        
      max-height: 50px
      overflow-y: auto
      width: 100%
    li 
      width: 90%
      font-size: 1.4rem
      overflow-x: hidden
      text-overflow: ellipsis
      +mq(phone-wide, max)
        width: 100%
        text-align: center
    li.typing 
      white-space: nowrap
      background: #f3f9a763           
.chatInputBox      
  div 
    width: 100%
  textarea
    font-family: "chat"
    font-weight: bold    
    width: 100%
    height: 6rem
    border-radius: 4px
    resize: none
    -webkit-appearance: none   
    background: #fff
    border: 1px solid #dad8de
    color: $text   
    line-height: 1.5
    outline: 0
    padding: .5rem 1rem
    padding-right: 5rem   
    transition: box-shadow .1s ease-in,border .1s ease-in
  textarea:focus
    border-color: $primary
    box-shadow: 0 0 6px -2px $primary    
.inputButtons
  display: flex
  padding: 1rem 0
  justify-content: center
  +mq(phone-wide, max) 
    padding-bottom: 0px 
+custom-scroll("chatList")   
.fileInput 
  display: flex
  justify-content: center
  align-items: flex-start
  +mq(phone-wide, max) 
    position: absolute
    bottom: 8px
    right: 12px 
  input
    opacity: 0
    width: 1px
    position: absolute
    z-index: -1
.fileLabel
  composes: chatButton
  margin-top: 1rem 
  padding: 1.8rem 0.8rem
  +mq(phone-wide, max) 
    padding: 0.5rem 0.8rem 


///////////// MENU STYLES  
.menuWrapper
  display: flex
  flex-direction: column
  align-items: center
  width: 150px
  height: 100%
  justify-content: stretch
  border-radius: 5px 0 0 5px
  background-color: darken($primary, 15%)
  padding: 1rem
  +mq(tablet, max)  
    border-radius: 0
  +mq(phone-wide, max)
    width: 100%  
  .accountInfo   
    width: 100%
    display: flex
    padding: 1rem
    padding-bottom: 3rem
    background-color: darken($primary, 15%)
    border-bottom: 1px solid $white
    .userCircle
      width: 25px
      height: 25px
      margin-right: 10px
      border-radius: 50%     
      border: 2px solid $white
    .accountText
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      position: relative
      color: $white      
      >span 
        width: 70px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        background: linear-gradient(to right, #f3f9a763 100%, rgb(232, 232, 232) 0%) 100% center / 100% 80% no-repeat
        background-position: 50% center
        +mq(phone-wide, max)
          width: 150px
      .logOut
        font-family: "chat"
        color: $white 
        background: transparent 
        border: none
        position: absolute
        top: 23px
        right: 0
        font-size: 1.1rem      
      .logOut:hover
        cursor: pointer      
        font-weight: bold        
  .roomList
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    padding: 1rem 0
    width: 100%
    background-color: #8f3a24
    +mq(phone-wide, max)
      flex-grow: 0      
    >div
      width: 100%
      +mq(phone-wide, max)
        display: flex
        flex-direction: column
      .roomScroll
        padding: 1rem 0
        overflow-x: hidden   
        max-height: 400px
        +mq(phone-wide, max)
          display: flex
          overflow-x: auto
          padding: 1rem         
        button 
          position: relative
          width: 90%
          padding: 0
          margin: 0 auto
          margin-bottom: 1rem
          display: flex
          align-items: center
          list-style: none       
          height: 25px
          justify-content: center       
          color: $white
          text-decoration: none
          background-color: darken($primary, 15%)
          cursor: pointer
          background-color: $pr_hover
          +mq(phone-wide, max)
            display: inline
            padding: 0 2px
            min-width: 50px           
            white-space: nowrap
            overflow-x: hidden
            text-overflow: ellipsis    
          .activeRoom 
            position: absolute
            right: -5px
            top: -5px
            padding: 0 2px
            transform: skew(0, -3deg) 
            font-size: 1rem
            font-weight: bold
            text-transform: uppercase
            color: #23074d
            background: linear-gradient(#F3F9A7, #CAC531)
            +mq(phone-wide, max)        
              width: 100%
              transform: none
              height: 2px
              top: 0
              left: 0
              overflow: hidden                     
        button:hover
          background: linear-gradient(#F3F9A7, #CAC531)    
          color: #23074d
      +mq(phone-wide, min)        
        +custom-scroll("roomScroll")          
.addRoomWrapper  
  height: calc(100vh - 150px)
  padding: 1rem 0 0 1rem
  +mq(tablet, max)
    height: 84vh
  +mq(phone-wide, max)        
    height: 100%  
  .addRoomControls
    display: flex
    width: 220px 
    justify-content: center  